body{
	margin : 0;
	font-family : 'Source Sans Pro', sans-serif;
	background-color : #EFEFEF;
	font-weight : 300;
	font-size : 19px;
	color : #1F1F1F;
}
header{
	padding : 10px;
	background-color : #3498DB;
	color : #FFF;
	font-size : 25px;
	font-weight : 400;
}
.champ{ /* pour tout les champs de texte */
	margin-top : 3px; 
	background-color : #EFEFEF;
	border-top : 0;
	border-left : 0;
	border-right : 0;
	border-bottom : 3px solid #3498DB;
	padding : 10px;
	color : #1F1F1F;
	font-family : 'Source Sans Pro', sans-serif;
	width : 300px;
}
.bouton{ /* pour les bouton */
	margin-top : 10px;
	background-color : #FFF;
	border : 1px solid #3498DB;
	padding : 7px;
	color : #3498DB;
	border-radius : 5px;
	font-size : 20px;
	font-family : 'Source Sans Pro', sans-serif;
}
.bouton:hover{ /* s'active quand on passe le curseur sur le bouton */
	background-color : #3498DB;
	color : #FFF;
	transition : 250ms;
}
.connexion{ /* pour centrer les formulaire de connexion */
	width : 350px;
	text-align : center;
	margin-top : 200px;
	margin-left : auto;
	margin-right : auto;
}
.msgErr{ /* les message d'erreur */
	background-color : #FFF;
	color : #FF8F8F;
	font-weight : 400;
	border : 1px solid #FF8F8F;
	padding : 10px;
	margin-top : 5px;
	border-radius : 5px;
}
.msgOk{ /* les message de validation */
	background-color : #FFF;
	color : #3CD21A;
	border : 1px solid #3CD21A;
	font-weight : 400;
	padding : 10px;
	margin-top : 5px;
	border-radius : 5px;
}
.dimension{ /* pour centrer le contenue d'une page */
	width : 1100px;
	margin-left : auto;
	margin-right : auto;
}
.flex{
	display : flex;
}
.actu{
	/*border : 1px solid #000;*/
}
.princip{
	/*border : 1px solid #000;*/
	width : 70%;
	margin-top : 15px;
}
.second{
	/*border : 1px solid #000;*/
	width : 30%;
	margin-top : 15px;
}
.fen{
	margin-left : 10px;
	margin-right : 10px;
	margin-top : 15px;
	background-color : #FFF;
	border-radius : 5px;
	word-break : break-all;
	padding : 10px;
}
.spe{
	width : 50%;
}

@font-face { /* paramètrage de la police d'écriture (weight 300) */
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../police/source_sans_pro_300.ttf) format('truetype');
}
@font-face { /* paramètrage de la police d'écriture (weight 400) */
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../police/source_sans_pro_400.ttf) format('truetype');
}